*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {

background-color: rgb(18, 18, 55);
font-size: medium;

}

header.header-style {
  display: flex;
  align-items: center;
  background-color: rgb(41, 47, 47);
  border-radius: 20px;
  border: 30px;
  width: 98%;
  height: 60px;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px rgb(207, 200, 198);
  box-sizing:initial;
}


h1 {
  flex: 1;
  text-align: center;
  color: aliceblue;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(47, 23, 155), 0 0 20px rgb(142, 100, 9), 0 0 10px rgb(142, 100, 9), 0 0 50px rgb(167, 234, 11);
  text-shadow: 0 0 5px rgb(142, 100, 9), 0 0 20px rgb(9, 142, 18), 0 0 10px rgb(142, 100, 9), 0 0 50px rgb(142, 100, 9);
  animation: neon 1.5s ease-in-out infinite alternate;


text-align: center;
padding: 4px 0;
  
}

@keyframes neon {
  from {
    box-shadow: 0 0 5px rgb(142, 27, 9), 0 0 5px rgb(105, 60, 60), 0 0 10px rgb(12, 127, 140), 0 0 80px rgb(142, 9, 71);
  }
  to {
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 70px rgb(21, 67, 28);
  }
}



button {
  margin: 0 5px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(102, 111, 153);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7),
              0 0 0 0 rgba(255, 255, 255, 0.5),
              0 0 0 0 rgba(255, 255, 255, 0.3),
              0 0 0 0 rgba(255, 255, 255, 0.1);
  animation:pulse 3s linear infinite;
}

@keyframes pulse {
  3% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7),
                0 0 0 0 rgba(255, 255, 255, 0.5),
                0 0 0 0 rgba(255, 255, 255, 0.3),
                0 0 0 0 rgba(255, 255, 255, 0.1);
  }
  60% {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.7),
                0 0 0 4px rgba(255, 255, 255, 0.5),
                0 0 0 4px rgba(255, 255, 255, 0.3),
                0 0 0 4px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7),
                0 0 0 0 rgba(255, 255, 255, 0.5),
                0 0 0 0 rgba(255, 255, 255, 0.3),
                0 0 0 0 rgba(255, 255, 255, 0.1);
  }
}


body 
{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background: #23242a;
}

.box 
{
	position: relative;
	width: 380px;
	height: 420px;
  top: 50px;
  left: 30px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
}
.box::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
}
.box::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
form 
{
	position: absolute;
	inset: 2px;
	background: #28292d;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
h2 
{
	color: #45f3ff;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
.inputBox 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}
.inputBox input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
.inputBox span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span 
{
	color: #45f3ff;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.inputBox i 
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #45f3ff;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i 
{
	height: 44px;
}
.links 
{
	display: flex;
	justify-content: space-between;
}
.links a 
{
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: beige;
}
.links a:hover, 
.links a:nth-child(2)
{
	color: #45f3ff;
}
input[type="submit"]
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #45f3ff;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}
input[type="submit"]:active 
{
	opacity: 0.8;
}

