
body {

background-color: rgb(18, 18, 55);
font-size: medium;

}


header {
  display: flex;
  align-items: center;
  background-color: rgb(41, 47, 47);
  border-radius: 20px;
  border: 30px;
  width: 98%;
  height: 60px;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px rgb(207, 200, 198);
}

h1 {
  flex: 1;
  text-align: left;
  color: aliceblue;
  background-color: rgb(142, 100, 9);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(47, 23, 155), 0 0 20px rgb(142, 100, 9), 0 0 40px rgb(142, 100, 9), 0 0 80px rgb(167, 234, 11);
  text-shadow: 0 0 5px rgb(142, 100, 9), 0 0 20px rgb(9, 142, 18), 0 0 40px rgb(142, 100, 9), 0 0 80px rgb(142, 100, 9);
  animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    box-shadow: 0 0 5px rgb(142, 27, 9), 0 0 5px rgb(105, 60, 60), 0 0 10px rgb(12, 127, 140), 0 0 80px rgb(142, 9, 71);
  }
  to {
    box-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 70px rgb(21, 67, 28);
  }
}



button {
  margin: 0 5px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(102, 111, 153);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7),
              0 0 0 0 rgba(255, 255, 255, 0.5),
              0 0 0 0 rgba(255, 255, 255, 0.3),
              0 0 0 0 rgba(255, 255, 255, 0.1);
  animation:pulse 3s linear infinite;
}

@keyframes pulse {
  3% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7),
                0 0 0 0 rgba(255, 255, 255, 0.5),
                0 0 0 0 rgba(255, 255, 255, 0.3),
                0 0 0 0 rgba(255, 255, 255, 0.1);
  }
  60% {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.7),
                0 0 0 4px rgba(255, 255, 255, 0.5),
                0 0 0 4px rgba(255, 255, 255, 0.3),
                0 0 0 4px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7),
                0 0 0 0 rgba(255, 255, 255, 0.5),
                0 0 0 0 rgba(255, 255, 255, 0.3),
                0 0 0 0 rgba(255, 255, 255, 0.1);
  }
}

  